body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Extra styles: */
body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  position: relative;
}

body > p {
  font-size: 1.5rem;
}

form.search {
  padding: 20px;
}

form.search input {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 10px;
}

table thead {
  background-color: darkblue;
  color: white;
}

table tbody {
  background-color: white;
}

form {
  background-color: steelblue;
  border-radius: 15px;
  padding: 0 40px;
  font-size: 1rem;
}

form p {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}

form p label {
  width: 25%;

}

form p input {
  width: 75%;
  padding: 5px 10px;
}

form p input:focus {
  box-shadow: 0 0 15px 5px yellow;
}

form ~ form {
  margin-top: 2rem;
}

.error {
  color: darkred;
}